html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

@media (max-height: 100%) {
  html body {
    width: 100vh;
  }
}
body {
  line-height: 1;
  font-family: "Outfit", sans-serif;
  color: #7B88A8;
  font-weight: 400;
  background-color: white;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  padding-left: 318px;
}

.primary-btn {
  display: inline-block;
  height: 48px;
  background-color: #4F77FF;
  border-radius: 5px;
  cursor: pointer;
  padding: 12px 38.5px;
  text-align: center;
  color: #FFF;
}

.wrapper {
  position: relative;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F7F5F1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.container-header {
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  max-width: 176px;
  width: 176px;
  height: 44px;
  display: inline-block;
}

.logo-img-header {
  max-width: 176px;
  width: 176px;
  height: 44px;
}

@media screen and (max-width: 767px) {
  .header {
    justify-content: space-between;
  }
  .container {
    width: 100%;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1024px) {
  .menu-list {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 0 30px;
  }
}
.menu-list.is-show .menu-item {
  display: block;
  padding: 15px;
}

.menu-item {
  font-size: 15px;
  line-height: 1.6;
}

.menu-item-link {
  color: #7B88A8;
}

.menu-item--active {
  color: #2D3958;
  position: relative;
  cursor: pointer;
}

.menu-item--active::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 22px;
  width: 10px;
  height: 10px;
  background-color: #34C635;
  border-radius: 50%;
}

.header-btns {
  transform: translateX(50px);
  display: grid;
  grid-template-columns: auto auto;
  gap: 0 30px;
  align-items: center;
}

.header-btn--option {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0 20px;
}

.header-btns-wrapper {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  cursor: pointer;
}

.header-bag-noti {
  position: relative;
}

.header-bag-noti::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #EF3737;
  border-radius: 50%;
}

.btn-img {
  width: 18.5px;
  height: 18.5px;
}

.header--auth {
  display: flex;
  align-items: center;
}

.togle-btn {
  width: 20px;
  height: 20px;
  z-index: 2;
  display: grid;
  gap: 5px 0px;
  display: none;
  cursor: pointer;
  margin-left: 100px;
}

.togle-btn > span {
  pointer-events: none;
  width: 100%;
  height: 3px;
  background-color: #2D3958;
  display: block;
}

@media screen and (max-width: 1023px) {
  .togle-btn {
    display: grid;
  }
  .menu-list {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0;
    background-color: rgb(216, 216, 216);
    width: 200px;
    display: flex;
    flex-direction: column;
    transform: translateX(170%);
    transition: all 0.5s linear;
    z-index: 10;
    list-style-type: none;
  }
  .menu-list.is-show {
    transform: translateX(0);
  }
}
@media screen and (max-width: 767px) {
  .header-btns {
    display: none;
  }
}
.hero-shapes {
  background-image: url(../image/Shapes.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 80%;
  z-index: 0;
  position: absolute;
  top: 100px;
  left: 51px;
  right: -32px;
  bottom: 0px;
  width: 95%;
}

.hero-container {
  max-width: 1554px;
  width: 100%;
  background-color: #F7F5F1;
  padding-top: 80px;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

.hero-img-container {
  width: 570px;
  height: 570px;
  padding-top: 86px;
  padding-bottom: 230px;
  transform: translateX(-90px);
}

.hero-img {
  object-fit: cover;
  padding-bottom: 230px;
}

.hero-content {
  padding-top: 233px;
  padding-left: 136px;
  padding-bottom: 296px;
  max-width: 770px;
  position: relative;
  z-index: 1;
}

.hero-title {
  font-size: 72px;
  line-height: 78px;
  color: #2D3958;
}

.hero-title span {
  background: -webkit-linear-gradient(#857FFF, #FFC0EC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-desc {
  font-size: 18px;
  line-height: 28px;
  padding-top: 40px;
  max-width: 600px;
}

.hero-bot {
  display: flex;
  gap: 0 10px;
  padding-top: 70px;
  padding-left: 3px;
}

.hero-guide {
  display: flex;
  align-items: center;
}

.hero-guide-btn-wrap {
  background-color: #fff;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(0);
  transition: all 0.3s linear;
}

.hero-guide-btn-wrap:hover {
  box-shadow: 0 0 5px 3px #ccc;
  cursor: pointer;
  transform: translateY(-5px);
}

.herro-btn {
  display: inline-flex;
  align-items: center;
  transform: translateY(0);
  transition: all 0.3s linear;
}

.herro-btn:hover {
  box-shadow: 0 0 5px 3px #ccc;
  transform: translateY(-5px);
}

.hero-guide-title {
  padding-left: 7px;
  font-size: 15px;
  line-height: 24px;
  color: #2D3958;
}

.hero-scroll {
  background-color: #F9C45C;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  bottom: -40px;
  left: 45%;
  cursor: pointer;
  transform: translateY(0);
  transition: all 0.3s linear;
  z-index: 1;
}

.hero-scroll:hover {
  box-shadow: 0 0 5px 3px #ccc;
  transform: translateY(-5px);
}

.hero-scroll-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1023px) {
  html body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .hero-shapes {
    display: none;
  }
  .hero-img-container {
    transform: translateX(15%);
    align-items: center;
    width: 100%;
    padding-top: 30px;
  }
  .hero-container {
    flex-direction: column;
  }
  .hero-content {
    padding-top: 75px;
    padding-bottom: 160px;
  }
}
@media screen and (max-width: 767px) {
  .hero-img-container {
    transform: translateX(0);
    align-items: flex-start;
    width: 100%;
  }
  .hero-content {
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .hero-img-container,
.hero-img {
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 374px) and (max-width: 767px) {
  .hero-img-container {
    align-items: flex-start;
    width: 100%;
  }
  .hero-content {
    padding-top: 0px;
  }
}
.services {
  padding-top: 150px;
  padding-bottom: 120px;
}

.container-services {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 0;
}

.services-heading {
  max-width: 970px;
  padding-left: 5px;
}

.services-title {
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #2D3958;
  font-weight: 500;
}

.services-desc {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  padding-top: 30px;
  text-align: center;
  color: #7B88A8;
}

.services-list-card {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}

.services-card-item {
  width: 280px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transform: translateY(0);
  transition: all 0.3s linear;
}

.services-card-item:hover {
  transform: translateY(-5px);
  box-shadow: 10px 10px 5px 3px #ccc;
}

.services-card-logo {
  padding-top: 50px;
}

.services-card-logo img {
  width: 60px;
  height: 60px;
}

.services-card-content {
  padding-top: 20px;
  text-align: center;
}

.services-card-title {
  font-size: 22px;
  color: #120F1F;
}

.services-card-desc {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 13px;
}

.service-btn {
  display: inline-flex;
  align-items: center;
  transform: translateY(0);
  transition: all 0.3s linear;
}

.service-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 5px 3px #ccc;
}

@media screen and (max-width: 1023px) {
  .services-card-item {
    width: 200px;
    margin-left: 15px;
  }
}
@media screen and (max-width: 767px) {
  .services-list-card {
    flex-direction: column;
  }
  .services-title {
    font-size: 35px;
  }
  .services-desc {
    font-size: 14px;
  }
  .services-list-card {
    padding-top: 80px;
  }
  .services-card-item {
    margin-right: 5px;
    margin-bottom: 15px;
    width: 100%;
  }
  .services {
    padding-top: 75px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 374px) and (max-width: 767px) {
  .services-card-item {
    margin-right: 5px;
    margin-bottom: 15px;
    width: 90%;
  }
}
.logos {
  display: flex;
  justify-content: center;
  padding-bottom: 121px;
}

.logo-container {
  max-width: 915px;
  width: 915px;
}

.logo-heading {
  text-align: center;
  padding-bottom: 80px;
}

.logo-title {
  font-size: 36px;
  color: #000000;
}

.logo-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 0 105px;
}

@media screen and (max-width: 1023px) {
  .logo-list {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 767px) {
  .logo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px 0px;
  }
  .logo-item {
    width: 300px;
  }
  .logo-img {
    width: 100%;
    object-fit: cover;
  }
}
.about {
  background-color: #F7F5F1;
  padding-bottom: 120px;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-heading {
  max-width: 980px;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-title {
  font-size: 48px;
  line-height: 56px;
  font-weight: 500;
  color: #2D3958;
  padding-bottom: 30px;
}

.about-desc {
  font-size: 18px;
  color: #7B88A8;
  font-weight: 400;
  line-height: 28px;
}

.about-body {
  display: flex;
  flex-direction: column;
  gap: 150px 0px;
}

.about-info-item,
.about-info-item-first {
  display: flex;
  justify-content: space-around;
}

.about-info-item--reverse {
  flex-direction: row-reverse;
}

.about-img-wrapper--reverse,
.about-img-wrapper {
  width: 470px;
  height: 588px;
}

.about-img-wrapper--reverse img {
  transform: translateX(0%);
}

.about-img-wrapper img {
  width: 470px;
}

.about-content--reverse,
.about-content {
  max-width: 560px;
  margin-left: 50px;
}

.about-content--reverse {
  margin-right: 120px;
  padding-left: 22px;
}

.about-content-heading {
  padding-bottom: 50px;
}

.about-content-title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2777777778;
  color: #2D3958;
  padding-bottom: 30px;
}

.about-content-text,
.about-content-desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5555555556;
  color: #788190;
}

.about-content-body-list-info {
  list-style: none;
}

.about-content-body-item-info {
  display: flex;
}

.about-content-body-item-logo {
  width: 32px;
  height: 32px;
}

.about-content-body-item-logo img {
  transform: translateY(15%);
}

.about-content-body-item-desc-wrapper {
  padding-bottom: 30px;
}

.about-content-body-item-desc-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5555555556;
  color: #2D3958;
  padding-bottom: 10px;
  padding-left: 13px;
}

.about-content-body-item-desc-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  color: #7B88A8;
}

.about-item-btn {
  margin-top: 70px;
  display: inline-flex;
  align-items: center;
  transform: translateY(0);
  transition: all 0.3s linear;
}

.about-item-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 3px 5px #ccc;
}

@media screen and (width: 1024px) {
  .about-content--reverse {
    padding-left: 0;
    margin-right: 0;
    margin-left: 38px;
  }
  .about-body {
    gap: 100px 0px;
  }
}
@media screen and (max-width: 1023px) {
  .about-title {
    font-size: 45px;
  }
  .about-body {
    gap: 75px 0px;
  }
  .about-img-wrapper--reverse, .about-img-wrapper {
    width: 450px;
  }
  .about-content--reverse, .about-content {
    max-width: 400px;
    margin-left: 0;
  }
  .about-content-title {
    font-size: 28px;
  }
  .about-content-text, .about-content-desc {
    font-size: 15px;
  }
  .about-content--reverse {
    margin-right: 0;
    padding-left: 32px;
  }
}
@media screen and (max-width: 767px) {
  .about-heading {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .about-content-title {
    font-size: 28px;
  }
  .about-content-text, .about-content-desc {
    font-size: 15px;
  }
  .about-info-item-first, .about-info-item {
    flex-direction: column;
  }
  .about-body {
    gap: 50px 0px;
  }
}
@media screen and (max-width: 500px) {
  .about-content--reverse, .about-content {
    max-width: 300px;
    margin-left: 32px;
    padding-left: 20px;
    padding-right: 10px;
    transform: translateY(-75px);
  }
  .about-img-wrapper--reverse, .about-img-wrapper {
    width: 380px;
  }
}
.portfolio {
  padding-bottom: 64px;
}

.portfolio-heading {
  max-width: 1278px;
  padding-top: 120px;
  padding-bottom: 100px;
  padding-left: 318px;
}

.portfolio-title {
  font-size: 42px;
  line-height: 1.1904761905;
  font-weight: 500;
  text-align: center;
  color: #2D3958;
}

.portfolio-item {
  display: flex;
  justify-content: center;
  gap: 0 35px;
  padding-bottom: 50px;
}

.porfolio-img-box {
  padding-bottom: 29px;
}

.portfolio-img {
  border-radius: 40px;
  transform: translateY(0);
  transition: all 0.3s linear;
}

.portfolio-img:hover {
  transform: translateY(-7px);
  box-shadow: 0 10px 5px 0 #ccc;
  border: 2px solid #000;
}

.portfolio-link {
  font-size: 22px;
  line-height: 1.4545454545;
  font-weight: 400;
  color: #4F77FF;
}

@media screen and (width: 1024px) {
  .portfolio-heading {
    padding-left: 0;
  }
  .portfolio-item {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media screen and (max-width: 1023px) {
  .portfolio-heading {
    padding-left: 0;
  }
  .portfolio-item {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media screen and (max-width: 767px) {
  .portfolio-title {
    font-size: 28px;
  }
  .portfolio-heading {
    padding-bottom: 50px;
    padding-top: 60px;
  }
  .portfolio-item {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }
  .portfolio-info-wrapper {
    padding-bottom: 50px;
  }
  .porfolio-img-box {
    padding-bottom: 10px;
  }
}
.contact {
  height: 500px;
  background-color: #F7F5F1;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.contact-heading {
  max-width: 876px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 106px;
  padding-bottom: 65px;
  z-index: 1;
  text-align: center;
}

.contact-title {
  text-align: center;
  font-size: 48px;
  line-height: 1.1666666667;
  font-weight: 500;
  padding-bottom: 30px;
  color: #2D3958;
}

.contact-text {
  font-size: 22px;
  line-height: 1.4545454545;
  font-weight: 400;
  color: #7B88A8;
}

.contact-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  transform: translateY(0);
  transition: all 0.3s linear;
}

.contact-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 5px 3px #ccc;
}

.contact-hero {
  background-image: url(../image/Shapes_1.png);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 0;
}

@media screen and (max-width: 767px) {
  .contact {
    height: 400px;
  }
  .contact-title {
    font-size: 30px;
  }
  .contact-heading {
    padding-top: 53px;
  }
  .contact-text {
    font-size: 16px;
  }
}

/*# sourceMappingURL=app.css.map */
