.about{
    background-color: #F7F5F1;
    padding-bottom: 120px;
}

.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-heading{
    max-width: 980px;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}
.about-title{
    font-size:48px;
    line-height: 56px;
    font-weight:500;
    color: #2D3958;
    padding-bottom: 30px;
}
.about-desc{
    font-size: 18px;
    color: #7B88A8;
    font-weight:400;
    line-height: 28px;
}
.about-body{
    display: flex;
    flex-direction: column;
    gap: 150px 0px;
}
.about-info-item,
.about-info-item-first{
    display: flex;
    justify-content: space-around;
}

.about-info-item--reverse{
    flex-direction:row-reverse;
}


.about-img-wrapper--reverse,
.about-img-wrapper{
    width:470px;
    height: 588px;
    //text-align:left;
}

.about-img-wrapper--reverse img{
    transform: translateX(0%);
}


.about-img-wrapper img{
    width:470px;
}


.about-content--reverse,
.about-content{
    max-width: 560px;
    margin-left: 50px;
}
.about-content--reverse{
    margin-right: 120px;
    padding-left: 22px;
}


.about-content-heading{
    padding-bottom: 50px;
}
.about-content-title{
    font-size: 36px;
    font-weight: 500;
    line-height:calc(46 / 36);
    color: #2D3958;
    padding-bottom: 30px;

}
.about-content-text,
.about-content-desc{
    font-size: 18px;
    font-weight: 400;
    line-height:calc(28 / 18);
    color: #788190;

}
.about-content-body{

}

.about-content-body-list-info{
    list-style: none;
}
.about-content-body-item-info{
    display: flex;
}
.about-content-body-item-logo{
    width: 32px;
    height: 32px;
}

.about-content-body-item-logo img{
    transform: translateY(15%);
}
.about-content-body-item-desc-wrapper{
    padding-bottom: 30px;
}
.about-content-body-item-desc-title{
    font-size: 18px;
    font-weight: 500;
    line-height:calc(28 / 18);
    color: #2D3958;
    padding-bottom: 10px;
    padding-left: 13px;
}

.about-content-body-item-desc-text{
    font-size: 16px;
    font-weight: 400;
    line-height:calc(26 / 16);
    color: #7B88A8;
    // padding-bottom: 10px;
}

.about-item-btn{
    margin-top: 70px;
    display: inline-flex;
    align-items: center;
    transform: translateY(0);
    transition: all 0.3s linear;
}
.about-item-btn:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 3px 5px #ccc;
}

@media screen and (width: 1024px) {
    .about-content--reverse{
        padding-left: 0;
        margin-right:0;
        margin-left: 38px;
    }
    .about-body{
        gap: 100px 0px;
    }
}

@media screen and (max-width: 1023px) {
    .about-title{
        font-size: 45px;
    }
    .about-body{
        gap: 75px 0px;
    }

    .about-img-wrapper--reverse, .about-img-wrapper{
        width: 450px;
    }
    .about-content--reverse, .about-content{
        max-width: 400px;
        margin-left: 0;
    }
    .about-content-title{
        font-size: 28px;
    }
    .about-content-text, .about-content-desc{
        font-size: 15px;
    }
    .about-content--reverse {
        margin-right: 0;
        padding-left: 32px;
    }
    
}

@media screen and (max-width: 767px) {

    .about-heading{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .about-content-title{
        font-size: 28px;
    }
    .about-content-text, .about-content-desc{
        font-size: 15px;
    }
    .about-info-item-first, .about-info-item{
        flex-direction: column;
    }
    .about-body{
        gap: 50px 0px;
    }
}

@media screen and (max-width: 500px){
    .about-content--reverse, .about-content{
        max-width: 300px;
        margin-left: 32px;
        padding-left: 20px;
        padding-right: 10px;
        transform: translateY(-75px);
    }
    .about-img-wrapper--reverse, .about-img-wrapper{
        width: 380px;
    }
}


