.hero-shapes{
    background-image: url(../image/Shapes.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80%;
    z-index: 0;
    position: absolute;
    top: 100px;
    left: 51px;
    right: -32px;
    bottom: 0px;
    width: 95%;
    
}

.hero-container{
    max-width: 1554px;
    width:100%;
    background-color:#F7F5F1;
    padding-top: 80px;
    display: flex;
    flex-direction:row-reverse;
    position: relative;
    // margin-bottom: 60px;
}

.hero-img-container{
    width:570px;
    height:570px;
    padding-top: 86px;
    padding-bottom:230px;
    transform: translateX(-90px);
}
.hero-img{
    object-fit: cover;
    padding-bottom: 230px;;
}
.hero-content{
    padding-top:233px;
    padding-left: 136px;
    padding-bottom: 296px;
    max-width: 770px;
    position: relative;
    z-index: 1;
}

.hero-title{
    font-size:72px;
    line-height:78px;
    color: #2D3958;
}

.hero-title span{
    background: -webkit-linear-gradient(#857FFF,#FFC0EC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // color: linear-gradient(to right, #857FFF,#FFC0EC)
    // color: linear-gradient(,#857FFF,#FFC0EC);
}

.hero-desc{
    font-size: 18px;
    line-height: 28px;
    padding-top: 40px;
    max-width: 600px;
}
.hero-bot{
    display: flex;
    gap: 0 10px;
    padding-top: 70px;
    padding-left: 3px;
}

.hero-guide{
    display: flex;
    align-items: center;
    // z-index: 1;
}
.hero-guide-btn-wrap{
    background-color: #fff;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content:center;
    // box-shadow: 0 0 5px 3px #ccc;
    transform: translateY(0);
    transition: all 0.3s linear;
    
}

.hero-guide-btn-wrap:hover{
    box-shadow: 0 0 5px 3px #ccc;
    cursor: pointer;
    transform: translateY(-5px);
}
.herro-btn{
    display: inline-flex;
    align-items: center;
    transform: translateY(0);
    transition:all 0.3s linear;

}

.herro-btn:hover{
    box-shadow: 0 0 5px 3px #ccc;
    transform: translateY(-5px);
}
.hero-guide-title{
    padding-left: 7px;
    font-size:15px;
    line-height:24px;
    color: #2D3958;
}


.hero-scroll{
    background-color: #F9C45C;
    width:80px;
    height:80px;
    border-radius:50%;
    // display: inline-flex;
    // justify-content: center;
    // align-items: center;
    position: absolute;
    bottom: -40px;
    left: 45%;
    cursor: pointer;
    // margin-bottom: 20px;
    transform: translateY(0);
    transition: all 0.3s linear;
    z-index: 1;

}

.hero-scroll:hover{
    box-shadow: 0 0 5px 3px #ccc;
    transform: translateY(-5px);
}
.hero-scroll-btn{
    width:24px;
    height:24px;

    position: absolute;
    left: 50%;
    top: 50%;
    bottom: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width:1023px){
    html body{
        width:100%;
        height:100%;
        margin: 0;
        padding:0;
        overflow-x: hidden;


    }


    .hero-shapes{
        display: none;
    }
    .hero-img-container{
        transform: translateX(15%);
        align-items: center;
        width: 100%;
        padding-top: 30px;
    }
    .hero-container{
        flex-direction: column;
    }

    .hero-content{
        padding-top: 75px;
        padding-bottom: 160px;
    }
}

@media screen and (max-width:767px) {
    .hero-img-container{
        transform: translateX(0);
        align-items: flex-start;
        // float: left;
        width: 100%;
    }    

    .hero-content{
        padding-left: 20px;
        padding-top:50px;
        padding-bottom: 100px;
    }
    .hero-img-container,
    .hero-img{
        padding-bottom: 50px;
    }

}

@media screen and (min-width: 374px) and ( max-width:767px){
    .hero-img-container{
        align-items: flex-start;
        // float: left;
        width: 100%;
    }    

    .hero-content{
        padding-top:0px;
    }
}
