$primary-font: "Outfit", sans-serif;
$secondary-font: "DM Sans", sans-serif;
$primary-color: #4F77FF;
$heading-color: #2D3958;
$text-color: #7B88A8;
$footer-heading-text-color: #FFF;
$footer-text-color: #E7E5EA;
$width-screen: 1920px;